<a href="https://colab.research.google.com/github/jeyasanthosh355-strawhat/python-project/blob/main/sales_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_path="/content/drive/MyDrive/projext/sales_data.csv"

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv(file_path)

In [ ]:
data.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

In [ ]:
data.columns

Index(['Product_ID', 'Sale_Date', 'Sales_Rep', 'Region', 'Sales_Amount',
       'Quantity_Sold', 'Product_Category', 'Unit_Cost', 'Unit_Price',
       'Customer_Type', 'Discount', 'Payment_Method', 'Sales_Channel',
       'Region_and_Sales_Rep'],
      dtype='object')

In [ ]:
quantity = np.array([10, 5, 8, 15, 12])
unit_price = np.array([50, 30, 20, 60, 25])
profit = np.array([80, 40, 25, 120, 70])

In [ ]:
total_sales = quantity * unit_price

total_revenue = np.sum(total_sales)
average_sales = np.mean(total_sales)

print("Total Revenue:", total_revenue)
print("Average Sales:", average_sales)

Total Revenue: 2010
Average Sales: 402.0

In [ ]:
print("First 3 sales records:", total_sales[:3])
print("Last 2 sales records:", total_sales[-2:])
print("Second record sale:", total_sales[1])

First 3 sales records: [500 150 160]
Last 2 sales records: [900 300]
Second record sale: 150

In [ ]:
mean_sales = np.mean(total_sales)
median_sales = np.median(total_sales)
variance_sales = np.var(total_sales)
std_sales = np.std(total_sales)

print("Mean:", mean_sales)
print("Median:", median_sales)
print("Variance:", variance_sales)
print("Standard Deviation:", std_sales)

Mean: 402.0
Median: 300.0
Variance: 78016.0
Standard Deviation: 279.31344400153745

In [ ]:
revenue = quantity * unit_price
print("Revenue using broadcasting:", revenue)

Revenue using broadcasting: [500 150 160 900 300]

In [ ]:
new_prices = unit_price * 1.10
new_revenue = quantity * new_prices

print("New Revenue after 10% price increase:", new_revenue)

New Revenue after 10% price increase: [550. 165. 176. 990. 330.]